
/*.message
{
    width: 50vw;
    height: 40vh;
    position: relative;
    top: 16%;
    left: 10%;
    color: #ffffff;
}

.message__hello
{
    font-size: 2.5vw;;
    letter-spacing: 5px;
    text-transform: uppercase;
}

.message__name
{
    font-size: 3vw;
    letter-spacing: 5px;
    text-transform: uppercase;
    color: #1EABD8;
}

.message__profession
{
    font-size: 1.7vw;
    letter-spacing: 2px;
}

.message__paragraph
{
    margin-top: 7%;
    letter-spacing: 2px;
    font-size: 1.2vw;
    font-style: italic;
}*/