.body
{ 
    width: 100%;
    height: 100vh;
    background-position: center center;
    background-image: url("https://firebasestorage.googleapis.com/v0/b/resource-e3c5b.appspot.com/o/webp%2Ffondo.webp?alt=media&token=fbfe6e24-7cf6-42b8-807f-0888f3e46055");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-color: #464646;
    background-size: cover;
    padding-top: 2%;
}

